* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  #close {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  }
  ul {
    position: absolute;
    top: 50%;
    left: 30%;
    color: black;
    z-index: 3;
    li:hover {
      color: red;
    }
  }
  #test {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 70%;
  }
  #modal {
    width: 100vw;
    height: 100vh;
    background-color: #555;
    position: absolute;
    z-index: 1;
    //블랜딩모드
    // mix-blend-mode: multiply;
    opacity: .5;
  }
}


#container {
  position: absolute;
  z-index: 0;
  color: red;
  // 둥지를 틀다 : nesting
  h1 {
    color: blue;
  }
}